<div class="container mt-5 text-white strech">
  <div class="row">
    <h1 class="title dark">Bienvenido a su generador de rachas</h1>
    <div class="welcome">
      <p>¿Qué es una racha?</p>
      <p>La racha es la cantidad de veces en las que completaste una actividad. Cada vez que completas una actividad en la web, tu racha aumentará.</p>
    </div>
    <div class="image-container">
      <img src="https://thumbs.dreamstime.com/z/dibujo-acuarela-de-una-racha-fuego-en-blanco-160459191.jpg" alt="Racha de fuego" class="image">
    </div>
  </div>
</div>
